@import '../../../assets/scss/index.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}