@import '../../../assets/scss/index.scss';


.cart_page {
  background: $color-rgba-bg-cards;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0;

  @include desktop {
    // flex-direction: row;
  }
}

.all_cart_items {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-height: 500px;
    overflow: scroll;
  }
}

