@import '../../../assets/scss/index.scss';


.cart_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;

  
  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }

}

.all_cart_items {
  background: $color-rgba-bg-cards;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 30px;
  max-height: 500px;
  overflow: scroll;
  width: 100%;
  // width: min(100%, 700px);

  @include tablet {
    margin: 0;
  }
}

.empty_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: min(70%, 500px);

  &__txt {
    background: $color-rgba-bg-cards;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
  }
}