@import '../../../assets/scss/index.scss';


.poke_info {

  @include desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
  }

  &__details {
    background-color: $color-rgba-bg-cards;
    border-radius: 10px;
    display: grid;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    width: min(100%, 750px);

    @include desktop {
      display: flex;
      gap: 50px;
      justify-content: space-between;
    }
  }

  &__img {
    justify-self: center;
    height: 300px;
  }
}